body{
	font-family: Microsoft Yahei;
}

a{
	color: #111111;
}

p{
	font-size: 14px;
}

.error{
	font-size: 12px;
	color: #8B0000;
}

.content{
	width: 84%;
	margin: 30px auto;
	text-align: center;
}

/*------------------------ HEADER -----------------------------*/

header {
	display: grid;
	grid-template-columns: 1.1fr 1.5fr 1fr;
	height: 85px; /* Высота шапки */
	width: 100%;
	border-bottom: 0.5mm solid #E5E5E5;
}

.grid_header{
	display: flex;
	justify-content: center;
    align-items: center;
}

.menu_ul{
	list-style: none;
    position: absolute;
	display: flex;
	flex-direction: row;
	position: relative;
}

.menu_ul li.active {
    border-bottom: 1mm solid #FBB03B;
}

.menu_li{
	margin-right: 80px;
	padding: 3px;
}

.menu_a{
	text-decoration: none;
	font-size: 14px;
}

.menu_a:hover{
	color: #FBB03B;
}

.logo{
	text-decoration: none;
    position: absolute;
	display: flex;
	flex-direction: row;
	position: relative;
}

.logo_img{
	width: 68px;
	height: 68px;
}

#logo1{
	margin-left: 15px;
	color: #FBB03B;
}

.me_img{
	width: 35px;
	height: 38px;
	cursor: pointer;
}

/*-----------------------------------------------------*/

form.reg{
	margin: 130px auto;
	width: 300px;
}

form.filters{
	padding-top: 170px;
	width: 300px;
}

fieldset.reg_en{
	border: none;
	font-size: 18px;
}

input.reg{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	border: 0.5mm solid #D4D4D4;
	border-radius: 20px;
	padding-left: 30px;
	font-size: 13px;
}

.button{
	height: 43px;
	margin-top: 30px;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	background-color: #FBB03B;
	text-align: center;
	cursor: pointer;
}

.save_button{
	height: 43px;
	margin-top: 30px;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	background-color: #FBB03B;
	text-align: center;
	cursor: pointer;
	width: 155px;
	margin-left: 110px;
}

.reg_en_button{
	width: 335px;
}

.question{
	font-size: 12px;
	margin-left: 26%;
}

.persona{
	display: grid;
	grid-template-columns: 1fr 1.5fr 0.8fr;
	height: 540px;
	width: 100%;
	margin-top: 30px;
}

.heading{
	position: absolute;
	top: 110px; 
	left: 25%;
}

.persona_grid{
	display: flex;
	justify-content: center;
    align-items: center;
}

/*---ПОСМОТРЕТЬ---*/

.prof_grid1{
	display: flex;
	margin-left: 30%;
	align-items: center;
	/*border-right: 0.5mm solid #E5E5E5;*/
}

.right_grid{
	border-left: 0.5mm solid #E5E5E5;
	height: 520px;
	/*padding-left: 8%;*/
}

/*----------------*/

#info{
	margin-bottom: 40px;
	font-size: 18px;
}

.profile_lab{
	font-size: 13.5px;
	margin-right: 12px;
}

input.profile_inp{
	width: 200px;
}

.persona_ul{
	list-style: none;
}

.persona_a{
	text-decoration: none;
}

.persona_a:hover{
	color: #FBB03B;
}

.persona_li{
	margin-top: 20px;
}

.persona_fieldset{
	border: none;
	font-size: 18px;
}

.persona_button1{
	width: 215px;
}

.persona_button2{
	width: 125px;
	background-color: #D4D4D4;
	border-radius: 20px;
}

.persona_button2:hover{
	background-color: #FBB03B;
}

/*--------------------------- index ---------------------------*/

.filt-form{
	text-align: center;
	margin-top: 30px;
}

.filt-lab{
	font-size: 13.5px;
}

.filt-select{
	margin-right: 15px;
	border: 0.5mm solid #D4D4D4;
	border-radius: 20px;
	padding: 3px;
}

.filt-but{
	width: 110px;
	margin-left: auto;
    margin-right: 0px;
}

.clothes-container{
	width: 85%;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 30px;
}

.card{
	width: 230px;
	height: 390px;
	padding: 20px;
	justify-content: center;
	border: 0.5mm solid #D4D4D4;
	display: absolute;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.card_img{
	width: 200px;
	object-fit: contain;
}

.card_text{
	font-size: 12.5px;
	text-align: center;
}

.add-button{
	text-align: center;
	cursor: pointer;
}

.index-wardrobe-but{
	height: 30px;
	width: 230px;
	border: 0.5mm solid #FBB03B;
	background-color: #FBB03B;
	border-radius: 20px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

/*----------------------- wardrobe -----------------------------*/

.lk_grid{
	display: grid;
	grid-template-columns: 2.5fr 0.8fr;
	height: 540px;
	width: 100%;
	margin-top: 15px;
}

.lk_grid1{
	text-align: center;
}

.wardrobe{
	text-align: center;
	width: 100%
}

/*----------------------- product -----------------------------*/

.product{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 500px;
	width: 700px;
	margin: 30px auto;
	background-color: rgba(212,212,212,0.2);
	border: 0.5mm solid #D4D4D4;
	box-shadow: 0 0 15px rgba(122,122,122,0.4);
}

.product_img{
	width: 270px;
	object-fit: contain;
}

.product_grid1{
	padding-left: 30px;
}

.product_grid2{
	padding: 20px;
    align-items: center;
	padding-top: 170px;
}

/*----------------------- create image -----------------------------*/

.cr-image-grid1,
.cr-image-grid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 350px;
	/*border: 0.5mm solid black;*/
}

.image-container {
    flex-wrap: wrap; /* Перенос элементов на новую строку, если не хватает места */
	width: 600px;
	margin: 30px auto;
	padding-right: 10px;
}

.change-thing{
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0.5mm solid black;
	padding-top: 20px;
}

.thing-img{
	margin-top: 10px;
	width: 100%;
	object-fit: contain;
}

/*----------------------- fashion -----------------------------*/

.fashion{
	width: 65%;
	margin: 20px auto;
	font-size: 18px;
}

/*----------------------- СТИЛИ КАТИ -----------------------------*/

.btn btn-danger {
    margin-top: 230px;
    color: red;
    }

#user-info {
    /* ... Any other styles for the user-info block */
    font-size: 18px;
    width: 400px;
}


header {
    grid-row: 1; /* Header occupies the first row */
}

main {
    grid-row: 2; /* Main content occupies the second row */
}

.user-info-container {
    display: flex;
    justify-content: space-between;  /* Distribute space evenly */
    margin-bottom: 20px;  /* Add spacing below */
    position: fixed;
    left: 25%;
    top: 30%;
}

.change-password {
    /* ... */
    padding-left: 50px;
}
.logout-container {
    justify-content: center; /* Center horizontally */
padding-top: 170%;
}


/* .........wardrobe........... */

.wardrobe {
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: row;
margin: 30px auto;
width: 85%;
padding-left: 30px;
}

.wardrobe-item{
	width: 230px;
	height: 410px;
	padding: 20px;
	justify-content: center;
	border: 0.5mm solid #D4D4D4;
	display: absolute;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.wardrobe-item img{
	width: 200px;
	object-fit: contain;
}


.clothes-item{
	width: 230px;
	height: 410px;
	padding: 20px;
	justify-content: center;
	border: 0.5mm solid #D4D4D4;
	display: absolute;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.clothes-item img {
    width: 200px;
	object-fit: contain;
}
.show-more {
    display: block;
    margin: 20px auto; /* Центрируем кнопку */
    padding: 10px 20px;
    
    border: none;
    cursor: pointer;
	width: 300px;
}

/* выбор вещи для образа */
.clothes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Автоматическое определение количества колонок */
    gap: 20px;
}

.cloth-item {
    text-align: center;
} 

.cloth-image {
    max-width: 100%;
    height: auto;
}

.cloth-info {
    margin-top: 10px;
}
.image-area {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
}
.image-area img { /* Выбираем все изображения внутри элементов с классом "image-area" */
    width: 200px;   /* Устанавливаем ширину изображения в 200 пикселей */
    height: auto;  /* Устанавливаем высоту изображения в 150 пикселей */
    margin-left: 10px;
}
/* стили для странички images */
#outfit-container{
	width: 85%;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.outfit-block {
    padding: 10px;
    margin: 20px;
	justify-content: center;
	border: 0.5mm solid #D4D4D4;
}

.outfit-info {
    list-style-type: none;
    padding: 0;
}
/* стили для странички image */

.image-item {
    margin: 1px; /* Отступы между элементами одежды */
    width: 200px; /* Ширина каждого элемента одежды */
    text-align: center; /* Выравнивание текста по центру */
}

.image-item img {
    max-width: 100%; /* Масштабируем изображения по ширине */
    height: auto; /* Автоматически подбираем высоту */
}

.image-type,
.image-brend {
    margin-top: 1px; /* Отступ сверху от изображения */
}


