<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='js/api.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="grid_header" onclick="location.href='/'">
            <a class="logo">
                <img class="logo_img" src="{{ url_for('static', filename='logo.png' ) }}" alt="Логотип">
                <h2 id="logo1">Get</h2>
                <h2 id="logo2">Closet</h2>
            </a>
        </div>
        <div class="grid_header">
            <nav>
                <ul class="menu_ul">
                    <li class="menu_li"><a class="menu_a" href="/">Главная</a></li>
                    <li class="menu_li"><a class="menu_a" href="/create_image">Создать образ</a></li>
                    <li class="menu_li"><a class="menu_a" href="/fashion">Мода</a></li>
                </ul>
            </nav>
	    </div>
        <div class="grid_header">
            <a class="me">
                <img class="me_img" src="{{ url_for('static', filename='me.png') }}" alt="Личный кабинет" onclick="location.href='/profile'">
            </a>
        </div>
    </header>

    <main class="container mt-5">  <!-- Added main and container -->
        {% block body %}{% endblock %}
    </main>

</body>
</html>