{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
<div class="auth-container">
    <form method="post" class="reg">
        <fieldset class="reg_en">
            <legend align="center">Смена пароля</legend>
            
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            
            {% if success %}
            <div class="success-message">{{ success }}</div>
            <!-- <p><a href="{{ url_for('profile') }}">Вернуться в профиль →</a></p> -->
            {% endif %}
            
            {% if not success %}
            <div class="registration-section">
                
                <input class="reg" name="password" id="password" type="password" required 
                       placeholder=" Новый пароль">
                
                <input class="reg" name="password_confirm" id="password_confirm" type="password" required 
                       placeholder="Подтвердите пароль">
            </div>
            <div class="form-submit-section">
                <input class="button reg_en_button" type="submit" value="Сохранить" id="submitBtn">
            </div>
            <div class="back-link">
                <a href="{{ url_for('profile') }}">Отмена</a>
            </div>
            {% endif %}
        </fieldset>
    </form>
</div>
{% endblock %}