{% extends 'base.html' %}

{% block title %}
Мода
{% endblock %}

{% block body %}

    <h1 style="margin: 30px auto; text-align: center;">Женская и мужская мода 2024</h1>
    <img style="margin: 10px 21%;" src="{{ url_for('static', filename='fashion_images/fashion1.jpg') }}">
    <div class="fashion">
        <h2>Женщины</h2>

        <p>Женская мода в 2024 году предоставляет бескрайние возможности для экспериментов. Одежда становится средством самовыражения, позволяя каждой девушке подчеркнуть свою индивидуальность.
        Асимметрия и нестандартные фасоны создадут утончённые и женственные образы и станут главным лейтмотивом стильных луков.</p>
        <p>В новом сезоне модные подиумы будут играть на эмоциях, предлагая палитру, вдохновлённую чувствами и настроением.
        Акцент лучше сделать на цвет 2024 года — нежный персиковый.</p>
        <img src="{{ url_for('static', filename='fashion_images/fashion2.jpg') }}">

        <p>Также в центре внимания будут оттенки ярко-розового, электрического синего и тёплого каштанового.
        Эти тона подчеркнут женственность и сделают образ эффектным.</p>
        <p>Из принтов будут актуальны вертикальные полосы, которые визуально удлиняют силуэт. Горизонтальные тоже по-прежнему в тренде.</p>
        <p>Дизайнеры предлагают экспериментировать с различными текстурами в одежде. От мягких велюров до грубых текстильных материалов.
        Такое разнообразие создаёт необычные, но гармоничные образы. Например, можно комбинировать платья с кружевными вставками и объёмный свитер.
        Будет актуально и с точки зрения тенденций, и с учётом погодных условий зимой.</p>
        <img src="{{ url_for('static', filename='fashion_images/fashion3.jpg') }}">

        <h3>Открытые плечи</h3>
        <p>Фемининность и нежность выражаются через обнажённые плечи. Выбирайте топы и платья с асимметричным (на одно плечо) и нестандартными вырезами.
        Это позволит сделать акцент в нужной зоне. Обнажённые плечи — это всегда очень женственно.</p>

        <h3>Многослойность</h3>
        <p>Смешение текстур и форм в одном образе — ключевой тренд 2024 года. Носите многослойные наряды, сочетая ткани разной фактуры и длины.
        Не бойтесь экспериментировать с одеждой разных стилей.</p>

        <h3>Ремни</h3>
        <p>Подчёркивайте талию с помощью широкого ремня. Также можно использовать его миниатюрные версии в качестве колье на шею, браслета на запястьях или щиколотках.
        Особенно актуально смотрятся ремни с большими пряжками, а также модели, украшенные металлическими заклёпками или кристаллами.</p>

        <img src="{{ url_for('static', filename='fashion_images/fashion4.jpg') }}">

        <h3>Градиент</h3>
        <p>Цветовые переходы придают нарядам воздушность. Экспериментируйте с градиентами на платьях и аксессуарах.
        В особенности с трендовыми цветами: персиковым, лимонным, глубоким красным, фиолетовым, зелёным.</p>

        <h3>Бахрома</h3>
        <p>Бахрома становится коронным элементом в женских аутфитах. Она добавляет настроение лёгкости и романтики любому образу.
        Платья с бахромой на подоле, спине или рукавах, а также юбки с таким декором будут в центре внимания. В области аксессуаров этот элемент тоже остаётся. Носим сумки с бахромой.</p>

        <h3>Акцентные плечи</h3>
        <p>Топы, жакеты и платья с объёмными плечами и верхом необычной формы добавляют образу драматичности и привлекают внимание.
        В такой одежде вы точно сконцентрируете на себе все восхищённые взгляды. Важно лишь помнить, что отчаянная гипертрофия плечевого пояса не показана при маленьком росте.
        Плечи могут быть немного объёмными, но без глобального перебора.</p>

        <img src="{{ url_for('static', filename='fashion_images/fashion5.jpg') }}">

        <h2>Мужчины</h2>

        <p>Мужскую моду в 2024 году ждут изменения в стиле и фасонах. В рамках текущего осенне-зимнего сезона актуальны комбинированные образы, в которых смешиваются классика и спорт.
        Одежда становится более практичной и универсальной, позволяя мужчинам легко менять деловой стиль на более повседневный.</p>
        <p>Цвета играют ключевую роль в новом сезоне. Яркие и выразительные оттенки (особенно неоновые) будут в центре внимания.
        Совершенно не обязательно облачаться в цвета «вырви глаз» полностью. Но они дают прекрасную возможность сделать акцент.</p>

        <p>Обратить внимание стоит и на главный цвет года — персиковый. Да, мужчины тоже могут позволить себе этот нежный оттенок.
        Рубашка, худи, футболка — вот самые безопасные варианты трансляции персикового.
        Летом цитировать этот тренд станет проще. Светлые жизнерадостные оттенки органичнее вписываются в этот сезон. Тут могут быть шорты, брюки, сланцы или кроссовки.</p>
        <p>Если вы из категории отчаянных модников, стоит рассмотреть персиковый брючный костюм.
        Только проследите, чтобы дресс-код мероприятия, на которое вы хотите в нём отправиться, не запрещал подобные колористические эксперименты. Также важно, чтобы оттенок был вам к лицу.</p>

        <img style="width: 60%; height: auto;" src="{{ url_for('static', filename='fashion_images/fashion6.jpg') }}">

        <h3>Минимализм</h3>
        <p>В следующем сезоне дизайнеры отдают предпочтение простым формам и нейтральным оттенкам.
        Минимализм вносит упорядоченность и системность в гардероб, делая акцент на качестве тканей и чистых линиях. Из таких вещей можно собрать капсулу на любой сезон, чтобы всегда выглядеть дорого и стильно.</p>
        <p>Однотонные джоггеры, базовые оверсайз-футболки, джинсы прямого кроя и толстовки без дизайна или с аккуратными логотипами — идеальный набор для поддержания этой тенденции.</p>

        <img style="width: 90%; height: auto;" src="{{ url_for('static', filename='fashion_images/fashion7.jpg') }}">

        <h3>Классические костюмы</h3>
        <p>Классика вновь в тренде. Костюмы прямого или немного свободного кроя и тёмные оттенки возвращают нас к элегантному стилю. Оптимальный вариант для офисных образов.
        Можно экспериментировать с фасонами, длиной пиджака и рубашками под ним.</p>

        <h3>Спортивные костюмы</h3>
        <p>Динамичные и удобные спортивные костюмы становятся незаменимыми в повседневной жизни. Покупайте комплекты ярких цветов, с отсылками к моде нулевых или футуристичным дизайном.
        Добавьте объёмные однотонные кроссовки на высокой подошве для завершения аутфита.</p>

        <h3>Карго</h3>
        <p>Удобство и функциональность в моде, поэтому брюки карго и куртки с множеством карманов станут отличным выбором — как для дня в городе, так и для активного отдыха на природе.
        Сочетайте такие вещи с базовыми элементами одежды, чтобы создать гармоничный и стильный лук.</p>

        <img style="width: 90%; height: auto;" src="{{ url_for('static', filename='fashion_images/fashion8.jpg') }}">

        <h3>Оверсайз</h3>
        <p>Тренд на свободные силуэты остается с нами. Оверсайз-куртки, свитшоты и даже брюки добавляют лёгкости и динамичности вашему образу. Не бойтесь экспериментировать с объёмами.
        Зима — отличное время для таких экспериментов. Пополните свой гардероб объёмными свитерами. Будет и модно, и тепло.</p>

        <h3>«Кожаный шик»</h3>
        <p>Кожа — материал номер один в мужских образах на 2024 год. Обратите внимание на куртки, плащи и аксессуары. Кожаные изделия всегда делают образ более острым, дерзким.
        Также с ними легко можно создать игру контрастов в области фактур. Например, совместить кожаный плащ и свитер.</p>

        <img src="{{ url_for('static', filename='fashion_images/fashion9.jpg') }}">

        <h2>Какие выводы можно сделать?</h2>

        <p>В мужской моде 2024 года доминируют минимализм, сочетание стилей и оверсайз-фасоны. Элегантность в простоте — это гардеробная заповедь на новый сезон.</p>
        <p>Также важно учитывать функциональность. Модный мужчина 2024 года знает, чего хочет, и выбирает то, что удобно именно для него.
        Он имеет представления о тенденциях и умело ими жонглирует.</p>
        <p>Если того требует случай, такой мужчина выбирает актуальный лаконичный брючный костюм. Если ему предстоит отдых на природе, он достаёт функциональные брюки карго и надевает их с оверсайз-свитшотом.
        Когда у него есть соответствующий гардеробный повод, он смело миксует вещи из разных стилей. И здесь мы уже говорим про один глобальный тренд — осознанность.</p>

        <p>Интересующаяся тенденциями женщина в 2024 году рассмотрит цветочные принты и варианты создания многослойных образов. Она попробует сделать акцент на плечи.
        Найдёт идеальный ассиметричный топ. Возможно, это будет модный лонгслив на одно плечо.</p>

        <p>Самое главное — по-настоящему модная женщина в 2024 году будет знать, что ей из всего это нужно, а что — нет.
        Если она мёрзнет зимой, то едва ли купит ассиметричный лонгслив, каким бы актуальным он ни был. Она выберет тёплый оверсайз-свитер, под который сможет надеть ещё и водолазку!
        И тут мы снова говорим про тренд на осознанность.</p>

        <img src="{{ url_for('static', filename='fashion_images/fashion10.jpg') }}">

    </div>

{% endblock %}