{% extends 'base.html' %}

{% block title %}
Образ
{% endblock %}

{% block body %}
    <h1 style="margin: 30px auto; text-align: center;">Образ "{{ image_name }}"</h1>
    <p style="margin: 30px auto; text-align: center;">Для получения дополнительной информации, кликните на элемент одежды</p>
    <div class="clothes-container">
        {% for clothesItem in image_data %}
            <div class="image-item">
                <a href="/product_card/{{ clothesItem.clothes_id }}" class="image-item">
                    <img src="/static/clothes_image/{{ clothesItem.image }}" alt="{{ clothesItem.type }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <script>
        const imageItems = document.querySelectorAll('.image-item');
        imageItems.forEach(item => {
            item.addEventListener('click', (event) => {
            });
        });
    </script>
{% endblock %}