{% extends 'base.html' %}

{% block title %}
Вход - Formula Factor
{% endblock %}

{% block body %}
<div class="auth-container">
    <form method="post" class="reg">
        <fieldset class="reg_en">
            <legend align="center">Вход в систему</legend>
            
            {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
            {% endif %}
            
            <input class="reg" name="email" id="email" type="email" required 
                   placeholder="Введите ваш email" autofocus>
            <input class="button reg_en_button" type="submit" value="Получить задание">
        </fieldset>
    </form>
    
    <!-- Добавляем ссылку на регистрацию -->
    <div class="registration-link">
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}