{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<form method="post" class="reg">
	<fieldset class="reg_en">
		<legend align="center">Вход</legend>
		<input class="reg" name="email" id="email" type="email" required placeholder="E-mail">
		<input class="reg" name="password" id="password" type="password" required placeholder="Пароль">
		{% if error %}
		  <div class="error">
			{{ error }}
		  </div>
		{% endif %}
		<input class="button reg_en_button" type="submit" value="Войти">
		<a class="question" onclick="location.href='/registration'">Еще нет учетной записи?</a>
	</fieldset>
</form>
{% endblock %}