{% extends 'base.html' %}

{% block title %}
Карточка товара
{% endblock %}

{% block body %}
  <h1>{{ clothes_data.type }}</h1>
  <img src="/static/clothes_image/{{ clothes_data.image }}" alt="{{ clothes_data.type }}">
  <p>Категория: {{ clothes_data.category }}</p>
  <p>Бренд: {{ clothes_data.brend }}</p>
  <p>Пол: {% if clothes_data.gender == 'female' %}Женский{% elif clothes_data.gender == 'male' %}Мужской{% else %}Неизвестный{% endif %}</p>
  <p>Сезон: {{ clothes_data.season }}</p>
  <p>Цвет: {{ clothes_data.color }}</p>

  <div class="sidebar">
    <ul>
      <li><a href="/profile">Личный кабинет</a></li>
      <li><a href="/wardrobe">Мой гардероб</a></li>
      <li><a href="#">Мои образы</a></li>
    </ul>
  </div>
{% endblock %}